<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Simple suite" verbose="1">
    <test name="Search/Authorisation">

        <groups>
            <define name="Smoke"/>
            <define name="Regression"/>

            <run>
                <include name="Smoke"/>
                <include name="Regression"/>
            </run>
        </groups>

        <classes>
            <class name="selenium.AuthorisationTest"/>
            <class name="selenium.SearchTest"/>
        </classes>
    </test>
</suite>