<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Simple suite" verbose="1">
    <test name="Search/Authorisation" parallel="methods" thread-count="3">

        <groups>
            <define name="Smoke"/>
            <define name="Regression"/>
            <run>
                <include name="Smoke"/>
                <include name="Regression"/>
            </run>
        </groups>
        <classes>
            <class name="ui.selenide.AuthorisationTest"/>
            <class name="ui.selenide.SearchTest"/>
        </classes>
    </test>
</suite>